<div class="create-page">
  <div class="create-container">
      <h2 class="create-container-title">Create User</h2>
      <form [formGroup]="createUserForm">
        <div>
          <label class="create-name"></label>
          <input class="create-name-input" formControlName="name" type="text" placeholder="name">
        </div>

        <div>
          <label class="create-surname"></label>
           <input class="create-surname-input" formControlName="surname" type="text" placeholder="surname">
        </div>

        <div>
          <label class="create-login"></label>
           <input class="create-login-input" formControlName="login" type="text" placeholder="login">
        </div>
        <div>
          <label class="create-password"></label>
           <input class="create-password-input" formControlName="password" type="password" style="-webkit-text-security: square;" placeholder="password">
        </div>
      </form>
      <div class="create-buttons-container">
          <button
          mat-button color="grey"
            (click)="confitmCreating()">
            SAVE
          </button>
          <button
          mat-button color="grey"
            (click)="cancelCreating()">
            CANCEL
          </button>
      </div>
  </div>
</div>
